<div class="row">
  <div class="col-md-9">
    <!-- トップコンテンツ -->
    <div class="top-content-area">
      <h1><%= t('top.self.title') %></h1>
      <p><%= delimited_by_comma(@user_count) %>人が参加しています</p>
      <p><%= link_to 'みんなで社会を動かすしくみ', campaigns_path, class: 'start-campaign-link' %></p>
      <%= link_to 'キャンペーンを立ち上げる', new_campaign_path, {class: 'btn btn-primary btn-lg'}%>
    </div>

    <!-- 新規キャンペーン -->
    <div id="campaign-list">
      <%= render 'layouts/campaign_card' %>
    </div>

    <%= link_to_next_page @campaigns, 'もっと見る', {id: 'readmore-btn', class: 'btn btn-info w-100', remote: true} %>
  </div>

  <%= render 'layouts/sidemenu' %>
</div>