<h1>ユーザ情報</h1>

<div class="row">
  <dl>
    <dt>氏名</dt>
    <dd><%= format_username(current_user.username_last, current_user.username_first) %></dd>

    <dt>性別</dt>
    <dd><%= VotingConst::GENDER[current_user.gender] %></dd>

    <dt>Email</dt>
    <dd><%= current_user.email %></dd>

    <dt></dt>
    <dd><%= image_tag current_user.avatar.to_s, {class: 'uploaded-img'} %></dd>
  </dl>
</div>
<%= link_to "#{t('common/crud.edit.title')}", edit_user_path(current_user), {class: 'btn btn-primary w-100'} %>