<p id="notice"><%= notice %></p>

<h1 class="page-title"><%= Campaign.human_attribute_name :campaign_list %></h1><br>

<ul class="nav nav-tabs">
  <li class="nav-item"><%= link_to "#{Campaign.human_attribute_name :search_attention}", campaigns_path, {class: 'nav-link active'} %></li>
  <li class="nav-item"><%= link_to "#{Campaign.human_attribute_name :search_popular}", campaigns_path(condition: 'popular'), {class: 'nav-link'} %></li>
  <li class="nav-item"><%= link_to "#{Campaign.human_attribute_name :search_latest}", campaigns_path(condition: 'latest'), {class: 'nav-link'} %></li>
  <li class="nav-item"><%= link_to "#{Campaign.human_attribute_name :search_succeed}", campaigns_path(condition: 'succeed'), {class: 'nav-link'} %></li>
</ul>

<!-- 新規キャンペーン -->
<div class="campaign-list">
  <%= render 'campaign_list' %>

  <div class="more">
    <%= link_to_next_page @campaigns, "#{t('common/crud.readmore.title')}",
      remote: true, class: "btn btn-secondary btn-lg w-100", id: "view_more" %>
  </div>
</div>