<div class="row">
  <h1 class="page-title"><%= @campaign.title %></h1>

  <div class="col-md-8">
    <div class="campaign-detail-header">
      <div class="campaign-detail-header-left">
        <%= t('campaign.self.sender') %>: <%= format_username(@campaign.user.username_last, @campaign.user.username_first) %>&ensp;
        <%= t('campaign.self.destination') %>: <%= @campaign.campaign_for %>
      </div>

      <% if current_user.id == @campaign.user.id %>
        <div class="campaign-detail-header-right">
          <%= link_to edit_campaign_path(@campaign), {class: 'campaign-control-icon-link'} do %>
            <i class="fas fa-pen fa-lg campaign-control-icon"></i>
          <% end %>
          <%= link_to campaign_path(@campaign), {class: 'campaign-control-icon-link', method: :delete}, data: { confirm: "#{t("activerecord.confirms.messages.delete")}" } do %>
            <i class="fas fa-trash-alt fa-lg campaign-control-icon"></i>
          <% end %>
        </div>
      <% end %>
    </div>

    <div><%= @campaign.content %></div>

    <div class="comment-area">
      <h3><%= t('campaign.self.comment_from_supporter') %></h3>

      <div class="form-group field comment-form">
        <%= form_for [@campaign, @comment] do |form| %>
          <%= form.text_area :content, class: 'form-control comment-tarea' %><br>
          <%= form.submit "#{t('common/crud.comment.title')}", class: 'btn btn-primary' %>
        <% end %>
      </div>

      <div class="comment-lists">
        <% @comments.each do |comment| %>
          <div class="comment-area-inner">
            <p>
              <%= show_avatar comment.user.avatar %>
              <strong><%= format_username(comment.user.username_last, comment.user.username_first) %></strong> <%= comment.updated_at.strftime("%Y-%m-%d") %>
            </p>
            <div><%= comment.content %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div>
      <%= render 'goal_progress'%>

      <div></div>
      <div class="supporter-lists">
        <ul class="list-group">
          <% @supporters.each do |supporter| %>
            <li class="list-group-item">
              <%= show_avatar supporter.user.avatar %>
              <% if supporter.visible == true %>
                <%== "#{format_username(supporter.user.username_last, supporter.user.username_first)}
                  さんが #{time_ago supporter.updated_at}前 に賛同しました" %>
              <% else %>
                <%== "匿名ユーザさんが #{time_ago supporter.updated_at}前 に賛同しました" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

    </div><hr/>

    <div class="form-group field supporter-form">
      <%= form_with model: [@campaign, @supporter] do |form| %>
        <%= form.label :visible do %>
          <%= form.check_box :visible, {class: 'form-control'}, 1, 0 %>
          <span>賛同した際、自分のアカウント情報及びコメントを表示させる</span>
        <% end %>

        <% if @supported_flg %>
          <%= form.submit "#{t('common/crud.already_supported.title')}", class: 'btn btn-primary disabled w-100 btn-support' %>
        <% else %>
          <%= form.submit "#{t('common/crud.support.title')}", class: 'btn btn-primary w-100 btn-support' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>