<div class="row">
  <h1 class="page-title"><%= @campaign.title %></h1>

  <div class="col-md-8">
    <p>発信者: 宛先: <%= @campaign.campaign_for %></p>

    <div>
      <%= @campaign.content %>
    </div>
  </div>

  <div class="col-md-4">
    <div>
      <strong><%= delimited_by_comma(@campaign.supporters.count) %>人が賛同しました。</strong>もう少しで
      <%= delimited_by_comma(@campaign.goal) %>人に到達します！

    </div><hr/>
  </div>
</div>