<div class="row">
  <h1 class="page-title"><%= @campaign.title %></h1>

  <div class="col-md-8">
    <p>
      <%= t('campaign.self.sender') %>: <%= format_username(@campaign.user.username_last, @campaign.user.username_first) %>&ensp;
      <%= t('campaign.self.destination') %>: <%= @campaign.campaign_for %>
    </p>

    <div><%= @campaign.content %></div>

    <div class="comment-area">
      <h3><%= t('campaign.self.comment_from_supporter') %></h3>

      <div class="form-group field comment-form">
        <%= form_for [@campaign, @comment] do |form| %>
          <%= form.text_area :content, class: 'form-control comment-tarea' %><br>
          <%= form.submit "#{t('common/crud.comment.title')}", class: 'btn btn-primary' %>
        <% end %>
      </div>

      <div class="comment-lists">
        <% @comments.each do |comment| %>
          <div class="comment-area-inner">
            <p><strong><%= format_username(comment.user.username_last, comment.user.username_first) %></strong> <%= comment.updated_at.strftime("%Y-%m-%d") %></p>
            <div><%= comment.content %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div>
      <strong><%= delimited_by_comma(@campaign.supporters.count) %>人が賛同しました。</strong>もう少しで
      <%= delimited_by_comma(@campaign.goal) %>人に到達します！

    </div><hr/>
  </div>
</div>