<!-- 新規キャンペーン -->
<% @campaigns.each do |campaign| %>
  <div class="card">
    <div class="card-header">
      <% campaign.tags.each do |tag| %>
        <i class="fas fa-tag"></i>
        <strong class="focusd-tag"><%= tag.name %></strong>で注目のキャンペーン
      <% end %>  
    </div>
    <div class="card-body">
      <p class="campaign-for"><%= campaign.campaign_for %>宛のキャンペーン</p>

      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <h5 class="card-title"><%= link_to campaign.title, campaign_path(campaign) %></h5>
          <p class="card-text"><%= campaign.content %></p>
        </div>
        <div class="col-xs-12 col-sm-3">
          <%= image_tag campaign.campaign_image.to_s, class: 'card-img-right', alt: 'キャンペーン画像' %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="float-left">
        <%= show_avatar campaign.user.avatar.to_s %>
        <%= format_username(campaign.user.username_last, campaign.user.username_first) %>
      </div>
      <div class="float-right"><%= delimited_by_comma(campaign.supporters.count) %>人の賛同者</div>
    </div>      
  </div>
<% end %>