<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <%= link_to 'Change.org', root_path, {id: 'header-title', class: 'navbar-brand h1'} %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <%= link_to 'キャンペーンを立ち上げる', new_campaign_path, {class: 'nav-link'} %>
    </li>
    <li class="nav-item"><%= link_to 'マイページ', page_path('mypage'), {class: 'nav-link'} %></li>
    <li class="nav-item"><%= link_to 'キャンペーン一覧', campaigns_path, {class: 'nav-link'} %></li>
    <li class="nav-item"><a class="nav-link" href="/member">会員プログラム</a></li>
  </ul>

  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="#"><i class="fas fa-search"></i></a></li>
    <li class="nav-item">
      <% if user_signed_in? %>
        <%= link_to 'サインアウト', destroy_user_session_path, {class: 'nav-link'} %>
      <% else %>
        <%= link_to 'サインイン', new_user_session_path, {class: 'nav-link'} %>
      <% end %>
    </li>
  </ul>
</nav>