<!DOCTYPE html>
<html>
  <head>
    <title>Voting</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Readmore.js/2.0.2/readmore.min.js" integrity="sha512-llWtDR3k09pa9nOBfutQnrS2kIEG7M6Zm7RIjVVLNab1wRs8NUmA0OjAE38jKzKeCg+A3rdq8AVW41ZTsfhu5Q==" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <%= render 'layouts/message' %>
      <%= yield %>
    </div>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
